* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: red;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  box-shadow: 4px 4px 2px #a5a5a5, -4px -4px 2px #a5a5a5;
  border-radius: 30px;
  background-color: rgb(27, 190, 255);
}

#screen {
  background-color: #fff;
  width: 320px;
  height: 80px;
  box-shadow: 1px 1px 2px #000;
  border-radius: 8px;
  border: none;
}
.screen-inp {
  width: 320px;
  height: 80px;
  font-size: 2.5rem;
  border-radius: 8px;
}
input::placeholder {
  color: #aaa;
}
.number {
  width: 325px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 25px;
  border-radius: 16px;
}
.num {
  width: 52px;
  height: 52px;
  box-shadow: 1px 1px 2px #000;
  cursor: pointer;
  align-self: center;
  font-weight: 600;
  border-radius: 8px;
  font-size: 1rem;
}
.num:hover {
  box-shadow: 2px 2px 2px #000;
}
